.answers {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.answers h3 {
  font-size: 24px;
  text-align: center;
}

.answer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
